<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- Needs to be white, might have to edit the .png file cant change inline -->
            <img class="wow bounceIn" style=" padding-bottom: 2px;"src="/img/icons/myIconsCollection/png/you-are-here (2).png" />
                <h2 class="section-heading">See Which Adventure Fits You!</h2>
                <hr class="light">
                <p class="actionText">Some of the highlights of our trips are listed here, scroll down to start planning your lifechanging experince in Africa below. </p>
                <a href="/destinations" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
