<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll navColor" style="border-right: 2px black solid; padding-right: 20px; padding-top:10px;margin-bottom: 10px; margin-top:10px" href="#page-top"><img class="navLogo" src="/img/nweSeconday_clipped_rev_4.png" /></a>
            <a class="page-scroll navColor" href="../index.html" ><img class="navWords" src="/img/nweWords.png"/></a>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul style="padding-top: 10px; padding-right:2%;" class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll navColor" href="#about">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Trips</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Galleries</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll btn btn-primary btn-xl headerButton navButton"  href="#bookToday">Book Today</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
