<section id="trips">
    <div class="container">
        <!-- #trip1 First Adventure -->
        <div class-"row">
            <!-- Main Trip image -->
            <div class="col-md-6" style="text-align:center;">
                <img class="tripImages" src="../img/tripimages/circleLion.png" />
            </div>
            <!-- Top Trip Header and Text -->
            <div class="col-md-6 tripTextContainers">
                <h2 class="tripTitles">Victoria Falls Adventure</h2>
                <hr></hr>
                <p class="center-text">Victoria Falls, Zimbabwe is home to the world’s largest waterfall. Considered one of the 7 Wonders of the Natural World, this magnificent site is the centerpiece of this amazing adventure.</p>
                <!-- Bullet Point trip details -->
                <div class="row">
                    <div class="col-md-6 tripListItems">
                        <h5>-    Six Days and Nights   -</h5>
                        <h5>-    Night Safari at <a href="#">Big 5 Reserve</a>   -</h5>
                        <h5>-    High Tea at Victoria Falls Hotel   -</h5>
                        <!-- swap out test -->
                        <!--<ul>
                            <li> Six Days and Nights </li>
                            <li> Night Safari at <a href="#">Big 5 Reserve</a></li>
                            <li> High Tea at Victoria Falls Hotel</li>
                        </ul>
                    -->
                    </div>
                    <div class="col-md-6 tripListItems">
                        <h5>-    Elephant Back Safari   -</h5>
                        <h5>-    Night Zambezi Light Raft Trip   -</h5>
                        <h5>-    BOMA Dinner   -</h5>
                        <!--<ul>
                            <li> Zambezi River Light Raft Trip </li>
                            <li>BOMA Dinner</li>
                        </ul> -->
                    </div>
                </div>
                <!-- #trip1 Trip Buttons -->
                <div class="row tripButtons">
                    <div class="col-md-6 center-text tripButtonTop">
                        <a href="#" class="btn btn-primary btn-xl">Request a Quote</a>
                    </div>
                    <div class="col-md-6 center-text tripButtonBottom">
                        <a href="/victoriafalls.html" class="btn btn-primary btn-xl">View More Info</a>    
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- #trip2 Second Adventure -->
        <div class="row">
            <!-- Main Trip Image -->
            <div class="col-md-6" style="text-align:center;">
                <img  class="tripImages" src="../img/tripimages/penguinEdited.png" />
            </div>
            <!-- Top Trip Header and Text -->
            <div class="col-md-6 tripTextContainers">
                <h2 class="tripTitles">Cape Town Adventure</h2>
                <hr></hr>
                <p class="center-text">Cape Town, South Africa is one of the most beautiful cities in the modern world with Table Mountain as the magnificent backdrop. Table Mountain is considered one of the 7 New Wonders of the Natural World and offers spectacular views of Cape Town from the top. </p>
                <!-- #trip2 Bullet Point trip details -->
                    <div class="row">
                        <div class="col-md-6 tripListItems">
                            <h5>-   Six Days &amp; Six Nights   -</h5>
                            <h5>-   Private Coach &amp; Driver   -</h5>
                            <h5>-    Shopping at the Cape Town Warf   -</h5>
                            <!--<ul class="tripListItems">
                                <li> Six Days and Nights </li>
                                <li> Private Coach &amp; Driver</a></li>
                                <li> Shopping at the Cape Town Warf</li>
                            </ul>-->
                        </div>
                        <div class="col-md-6 tripListItems">
                            <h5>-    Wine Tasting at <a href="#" > South African Winery</a>   -</h5>
                            <h5>-   Scenic Drives on the Coast   -</h5>
                            <h5>-   Explore <a href="#">Cape Agulhas</a>   -</h5>
                            <!--<ul class="tripListItems">
                                <li> Wine Tasting &amp; Dinner at <a href="#" >South African Winery</a> </li>
                                <li>Scenic Drives along the Southern Coast</li>
                                <li><a href="#" > Cape Agulhas</a></li>
                            </ul>-->
                        </div>
                    </div>
                    <!-- #trip2 Trip Buttons -->
                    <div class="row tripButtons">
                        <div class="col-md-6 center-text tripButtonTop">
                            <a href="#" class="btn btn-primary btn-xl">Request a Quote</a>
                        </div>
                        <div class="col-md-6 center-text tripButtonBottom">
                            <a href="/capetown.html" class="btn btn-primary btn-xl">View More Info</a>    
                        </div> 
                    </div>
            </div>
        </div>
    </div>
</section>