<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x fa-globe wow bounceIn" ></i>
                <h2 class="section-heading">Safari to a new World</h2>
                <hr class="light">
                <p class="actionText">Our African Safari Packages take you to some of the most beautiful places on earth, Victoria Falls, Zimbabwe and Cape Town, South Africa. Your adventure includes photo safari game drives, exhilarating excursions, scenic views, culture, food, and shopping that will delight.</p>
                <a href="/destinations" class="btn btn-default btn-xl">Destinations & Pricing</a>
            </div>
        </div>
    </div>
</section>
