<header class="homeHeader">
      <div class="header-content">
        <div class="header-content-inner" >
            <div class="headerMain">We Take Travelers on<br /> Unforgettable African Adventures.</div>
            <hr>
            </hr>
            <div class="headerText"><p>We give you the most thrilling African experiences! The wildlife, the wonders of nature, the culture, the adventure of a lifetime!</p></div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll headerButton">Start Your Adventure</a>
        </div>
        <div class="arrowContainer">
         <div class="row">
             <div class="col-md-12 spacerBox">
                 <!-- Spacer -->
             </div>
         </div>
         <div class="row">
          <i class="fa fa-4x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
         </div>
         <div class="row">
          <i class="fa fa-2x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
         </div>
        </div>
    </div>
    
</header>
