<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/victoriafalls.html#vicgallery" class="portfolio-box">
                    <img src="img/portfolio/VF-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photo Gallery
                            </div>
                            <div class="project-name">
                                Victoria Falls Wildlife
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/capetown.html#capgallery" class="portfolio-box">
                    <img src="img/portfolio/CT-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photo Album
                            </div>
                            <div class="project-name">
                                Cape Town 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/victoriafalls.html#vfreviews" class="portfolio-box">
                    <img src="img/portfolio/VFW-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                What Our Guests Have to Say 
                            </div>
                            <div class="project-name">
                                Victoria Falls 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/CTW-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photo Gallery
                            </div>
                            <div class="project-name">
                                Cape Town Wildlife
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/REVW-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Reviews
                            </div>
                            <div class="project-name">
                                What Our Guests Have to Say
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/REV-homepageImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Video Library
                            </div>
                            <div class="project-name">
                                Experience Africa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
