<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Plan Your Adventure!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/003-giraffe.png" />
                    <h3>Victoria Falls Travel Guide</h3>
                    <a href="/victoriafalls.html" class="btn btn-primary btn-xl">Meet a Giraffe</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                        <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/002-shark.png" />
                    <h3>Cape Town Travel Guide </h3>
                    <p
                    <a href="/capetown.html" class="btn btn-primary btn-xl">Pet a Shark</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                         <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/serviceLogo.png" />
                    <h3>Why New World Expeditions?</h3>
                    <!--<p class="text-muted"> Learn why we are the best option for you.</p>-->
                    <!-- Possible adjustment i need to make, not sure if i   -->
                    <!-- like this without the brief descriptions -->
                    <a href="#" class="btn btn-primary btn-xl">Discover N.W.E.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                        <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/001-man.png" />
                    <h3>Book an Unforgettable Trip Today!</h3>
                    <a href="#" class="btn btn-primary btn-xl">Meet a Guide</a>
                </div>
            </div>
        </div>
    </div>
</section>