<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- Needs to be white, might have to edit the .png file cant change inline -->
                <img class="wow bounceIn" style=" padding-bottom: 2px;"src="/img/icons/myIconsCollection/png/penguin.png" />
                    <h1 class="section-heading"><strong>Cape Town</strong> Adventure</h1>
                    <hr class="light">
                    <p class="actionText">Experience Cape Town and all of the beauty of the southern tip of Africa, and visit the residents of Penguin Park! </p>
                    <div class="row">
                        <i class="fa fa-4x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
                       </div>
                       <div class="row">
                        <i class="fa fa-2x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
                       </div>
                    <!--<a href="/destinations" class="btn btn-default btn-xl">Get Started</a>-->
                </div>
            </div>
        </div>
    </section>
    