<section>
 <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1">
                        <div class="row"><div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 250px;"  data-animation="animated zoomInLeft" src="/img/galleryImages/reviewers/jesseMartin.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <h3 data-animation="animated bounceInDown">"Remarkable, truly remarkable."</h3>
                                <h4 data-animation="animated bounceInUp" class="galleryLowText">- Jessie Martin, 2017</h4>             
                             </div>
                        </div></div>
                     </div> 
                    <!-- Item 2 -->
                    <div class="item slide2">
                        <div class="row"><div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 250px;"  data-animation="animated zoomInLeft" src="/img/galleryImages/reviewers/jillHapinger.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <h3 data-animation="animated bounceInDown">"... this is Africa!"</h3>
                                <h4 data-animation="animated bounceInUp" class="galleryLowText">- Jill Hapinger, 2018</h4>             
                             </div>
                        </div></div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3">
                        <div class="row"><div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 250px;"  data-animation="animated zoomInLeft" src="/img/galleryImages/reviewers/rmPons.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <h3 data-animation="animated bounceInDown">"Discover true Wildlife."</h3>
                                <h4 data-animation="animated bounceInUp" class="galleryLowText">- Rachel &amp; Micheal Pons, 2017</h4>             
                             </div>     
                        </div></div>
                    </div>
                    <!-- Item 4 -->
                    <div class="item slide4">
                        <div class="row"><div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 250px;"  data-animation="animated zoomInLeft" src="/img/galleryImages/reviewers/samuelGarner.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <h3 data-animation="animated bounceInDown">... Feel the falls on your face</h3>
                                <h4 data-animation="animated bounceInUp" class="galleryLowText">- Samuel Garner, 2017 </h4>             
                             </div>   
                        </div></div>
                    </div>
                    <!-- End Item 4 -->
            
                </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>