<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- Needs to be white, might have to edit the .png file cant change inline -->
                <img class="wow bounceIn" style=" padding-bottom: 2px; width: 64px" src="/img/icons/myIconsCollection/png/elephantFace.png" />
                    <h1 class="section-heading"><strong>Victoria Falls</strong> Adventure</h1>
                    <hr class="light">
                    <p class="actionText">Experience Victoria Falls and all of the beauty of the the Zambezi River, and take a ride on the back of an elephant! </p>
                    <div class="row">
                        <i class="fa fa-4x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
                       </div>
                       <div class="row">
                        <i class="fa fa-2x fa-sort-desc headerDownArrow animatedHeader bounceHeader" ></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    