    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <img class="advImage" src="/img/tripimages/deerCircle.png" />
                </div>
                <div class="text-center"><h1 style="padding-left:1%; color: orange;"> Experience The Falls. </h1></div>
                <hr style="border-color:black">
                </hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center"><strong>Victoria Falls, Zimbabwe is home to the world’s largest waterfall. Considered one of the 7 Wonders of the Natural World, this magnificent site is the centerpiece of this amazing adventure. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>  </h4>    
            </div>
        </div>
        <h2 class="text-center" style="padding-bottom: 2%;">Trip Details</h2>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h5>-  6 days and 6 nights in 4 star accommodations including hot breakfast daily  -</h5>
                <h5>-  Sunset Cruise  on the Zambezi River where you’ll see hippos, crocodiles, elephants and more  -</h5>
                <h5>-  Elephant Back Safari  -</h5>
                <h5>-  Night Safari on a “Big 5” reserve  -</h5>
                <h5>-  Soaring helicopter ride over the falls  -</h5>
            </div>
            <!-- ID is for homepage portfolio section ti link to proper sections -->
            <div class="col-lg-6 text-center" id="vicgallery">
                    <h5>-  Victoria Falls Bridge Tour with magnificent views of the gorge  -</h5>
                    <h5>-  High Tea at Victoria Falls Hotel overlooking the Victoria Falls Bridge  -</h5>
                    <h5>-  Safari through Zambezi National Park  -</h5>
                    <h5>-  Z River ligambeziht raft trip  -</h5>
                    <h5>-  BOMA Dinner- An unforgettable cultural experience  -</h5>
            </div>
        </div>
    </div>