
    <div class="topIcons">
        <div class="row" id="topIcons">
            <div class="col-sm-1 col-sm-offset-4">
                <img width="50%" src="/img/icons/myIconsCollection/png/ostrich.png"/>
            </div>
            <div class="col-sm-1">
                <img width="50%" src="/img/icons/myIconsCollection/png/elephant.png" />
            </div>
            <div class="col-sm-1">
                <img width="50%" src="/img/icons/myIconsCollection/png/girafffe.png" />
            </div>
            <div class="col-sm-1">
                <img width="70%" src="/img/icons/myIconsCollection/png/leopard.png" />
            </div>
        </div>
    </div>