<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include adventurePages/capeTown/nav.html %}
    {% include adventurePages/capeTown/header.html %}
    {% include adventurePages/capeTown/adventureTitle2.html %}
    {% include adventurePages/capeTown/topiconscape.html %}
    {% include adventurePages/capeTown/mainbodycape.html %}
    {% include adventurePages/capeTown/slidercapeTown.html %}
    {% include adventurePages/capeTown/contactAdv.html %}
    {% include adventurePages/capeTown/aside.html %}
    {% include adventurePages/capeTown/footer.html %}
    {% include scripts.html %}

</body>
</html>