<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}

<body id="page-top">
        {% include adventurePages/victoriaFalls/nav.html %}
        {% include adventurePages/victoriaFalls/header.html %}
        {% include adventurePages/victoriaFalls/adventureTitle1.html %}
        {% include adventurePages/victoriaFalls/topiconsvic.html %}
        {% include adventurePages/victoriaFalls/mainbodyvic.html %}
        {% include adventurePages/victoriaFalls/slidervictoriaFalls.html %}
        {% include adventurePages/victoriaFalls/contactAdv.html %}
        {% include adventurePages/victoriaFalls/aside.html %}
        {% include adventurePages/victoriaFalls/footer.html %}
        {% include scripts.html %}
</body>
</html>